body { background-color: #00000033; font-size: 13px; }

#light-box { width: 650px; height: 454px; background-color: #ffffff; position: absolute; top: 0; bottom: 0; left: 0; right: 0; margin: auto; border-radius: 4px; -webkit-border-radius: 4px; -moz-border-radius: 4px; -webkit-box-shadow: 0 0 24px #262626; -moz-box-shadow: 0 0 24px #262626; box-shadow: 0 0 24px #262626; }
#light-box .top { width: 100%; height: 25%; display: flex; -webkit-box-shadow: 0 2px 8px #262626; -moz-box-shadow: 0 2px 8px #262626; box-shadow: 0 2px 8px #262626; }
#light-box .top h3 { font-family: "Roboto", sans-serif; font-size: 28px; color: #15498F; margin: 0%; padding-top: 15px; padding-left: 30px; padding-bottom: 9px; font-weight: lighter; }
#light-box .top p { font-family: "Open Sans", sans-serif; color: #333333; width: 229px; margin: 0%; padding-left: 30px; }
#light-box .top .top-clinic { width: 42%; height: 100%; border-right: 1px solid #dddddd; }
#light-box .top .top-date { height: 100%; width: 58%; }
#light-box .top .top-date p { color: #15498F; width: 100%; }
#light-box .top .top-date img { width: 19.5px; height: 19.5px; opacity: 0.5; color: #15498F; float: left; padding-right: 7.5px; }
#light-box .top .top-date .close { width: 20px; height: 20px; opacity: 0.5; display: flex; float: right; clear: left; padding-top: 23px; padding-right: 23px; }
#light-box .left { width: 42%; height: 75%; border-right: 1px solid #dddddd; color: #333333; position: inherit; }
#light-box .left li { list-style: none; border-bottom: 1px solid #dddddd; height: 25%; }
#light-box .left li .location { font-weight: bold; font-size: 16px; color: #15498F; padding-top: 9%; padding-left: 30px; }
#light-box .left li .location .fa { padding-right: 16px; }
#light-box .left li p { margin: 0; padding-left: 55px; font-family: "Open Sans", sans-serif; }
#light-box .left li:last-child { border-bottom: none; }
#light-box .calendar { width: 58%; height: 75%; float: right; color: #333333; }
#light-box .calendar i { color: #15498F; font-weight: bold; }
#light-box .calendar i:first-child { float: left; padding-left: 30px; }
#light-box .calendar i:nth-child(2) { font-weight: normal; }
#light-box .calendar i:last-child { float: right; padding-right: 30px; }
#light-box .calendar .date { width: 100%; text-align: center; font-size: 16px; font-weight: bold; }
#light-box .calendar table { width: 100%; padding-left: 20px; padding-right: 20px; color: #333333; }
#light-box .calendar table .closed { opacity: 0.5; }
#light-box .calendar table .mday { font-size: 21px; color: #15498F; font-family: "Roboto", sans-serif; font-weight: lighter; }
#light-box .calendar table .wday { font-size: 13px; color: #bbbbbb; padding-bottom: 15px; }
#light-box .calendar table p { margin: 0; }
#light-box .calendar table td { padding-left: 5px; padding-right: 5px; padding-bottom: 8px; }
#light-box .calendar table .hbox { border: 2px solid #cccccc; border-radius: 4px; -webkit-border-radius: 4px; -moz-border-radius: 4px; text-align: center; padding: 10px; font-size: 13px; cursor: pointer; }
#light-box .calendar table .active { background-color: #15498F; color: #ffffff; }

/*# sourceMappingURL=styles.css.map */
